.kniha {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 76%;
    background-color: white;

}


.knihax {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 76%;
    background-color: white;
}

.wh{
    border: solid white 5px;
}
.kniha:hover {
    box-shadow: 5px 6px 8px 0.1px #888888;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.nadpis {
    max-width: 40%;
    padding: 1em;

}


.zviditelni {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 40%;

}

@media only screen and (max-width: 720px) {
    .zviditelni {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        width: 90%;

    }
    .nadpis {
        max-width: 100%;
        padding: 1em;

    }
    .oddel_spod {
        margin-bottom: 3em;
    }

}
