<div class="header-nightsky">
    <app-navigation [actual]="page_name"></app-navigation>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="margin: 7px">


            <div class="w3-card-4" style="background-color: white; margin: auto; margin-top: 5em; margin-bottom: 10em;">
                <div class="w3-white" style="padding: 1em">
                    <h2>Pošlite mi správu</h2>
                    <hr>
                </div>
                <form class="bb" style="padding: 1em" action="">
                    <p>
                        <label class="w3-text-black"><b>Meno</b></label>
                        <input class="w3-input w3-border w3-sand" name="name" type="text" required
                               [(ngModel)]="this.sprava.meno">
                    </p>
                    <p>
                        <label class="w3-text-black"><b>E-mail</b></label>
                        <input class="w3-input w3-border w3-sand" name="email" type="text" required
                               [(ngModel)]="this.sprava.email">
                    </p>
                    <p>
                        <label class="w3-text-black"><b>Vaša správa</b></label>
                        <textarea class="w3-input w3-border w3-sand form-control" rows="8" required
                                  (change)="doTextareaValueChange($event)">{{this.sprava.message}}</textarea>
                    <p>
                        <button class="w3-btn w3-brown" (click)="send()">Poslať</button>
                    </p>
                </form>


            </div>
        </div>
    </div>


    <div class="container w3-xxxlarge">
        <div class="w3-center">
            <i (click)="facebook()" class="fa fa-facebook-official w3-hover-opacity"></i>
            <i (click)="instagram()" class="fa fa-instagram w3-hover-opacity"></i>
        </div>
    </div>


</div>

