<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merienda+One" />


<div class="banner">
  <p class="center_text ffont">{{header}}

    <img (click)="setLanguage('en')" src="../../assets/en.png" alt="en" class="lang_flag img-responsive pull-right">
    <img (click)="setLanguage('nl')" src="../../assets/nl.png" alt="nl" class="lang_flag img-responsive pull-right">
    <img (click)="setLanguage('sk')" src="../../assets/sk.png" alt="nl" class="lang_flag img-responsive pull-right">
  </p>


</div>




