.center_text {
    background-color: #1c1b19;
    margin: auto;
    width: auto;
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 20px;

}


.ffont {

    /*font-family: "Bell MT";*/
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}


.lang_flag {
    max-height: 17px;
    margin-right: 10px;
    cursor: pointer;
}