<div class="w3-content w3-animate-opacity">
  <!-- Grid -->


  <div class="w3-row">
    <div class="w3-col l12 s12">
      <div class="w3-card-4 w3-margin w3-white">
        <img src="{{this.clanok.titulna_fotka}}" alt="Nature" style="width:100%">
        <div class="w3-container" style="margin-top: 10px">
          <button (click)="spat()" class="w3-btn w3-border w3-white w3-right"
                  style="margin-top: 10px">Späť
          </button>
          <h3><b>{{this.clanok.title}}</b></h3>
          <h5>{{this.clanok.title_description}}<span class="w3-opacity">{{this.clanok.date}}</span></h5>
        </div>

        <div class="w3-container">
          <p>{{this.clanok.perex}}</p>
          <hr>

          <img class="center img-responsive vyska" src="{{this.clanok.fotky[0]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[1]}}" alt="">

          <p *ngIf="this.clanok.obsah != undefined">{{this.clanok.obsah[0]}}</p>

          <img class="center img-responsive vyska" src="{{this.clanok.fotky[2]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[3]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[4]}}" alt="">

          <p *ngIf="this.clanok.obsah != undefined">{{this.clanok.obsah[1]}}</p>

          <img class="center img-responsive vyska" src="{{this.clanok.fotky[5]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[6]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[7]}}" alt="">

          <p *ngIf="this.clanok.obsah != undefined">{{this.clanok.obsah[2]}}</p>

          <img class="center img-responsive vyska" src="{{this.clanok.fotky[8]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[9]}}" alt="">
          <img class="center img-responsive vyska" src="{{this.clanok.fotky[10]}}" alt="">


          <!--komentare-->
          <div class="w3-row row">

            <div class="w3-col l8 m8 s12">
              <div class="w3-col m4 w3-hide-small" style="margin-bottom: 2em">
                <h3><span class="w3-padding-small w3-left"
                          style="margin-left: 1em"><b>Komentáre:</b></span></h3>
              </div>
            </div>
          </div>

          <div *ngFor="let comm of this.clanok.komenty" class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <div class="w3-card-4" style="width:100%">
                <header class="w3-container w3-light-grey">
                  <h3>{{comm.meno}}</h3>
                  <p>{{comm.datum}}</p>
                </header>
                <div class="w3-container" style="padding-bottom: 2em; padding-top: 1em">
                  <img src="{{this.avatarFoto(comm)}}" alt="Avatar"
                       class="w3-left w3-circle w3-margin-right" style="width:60px">
                  <p>{{comm.obsah}}</p><br>
                </div>
                <!--<button class="w3-button w3-block w3-dark-grey">Like</button>-->
              </div>
              <br>
            </div>
          </div>

          <div class="w3-row row">
            <div class="col-lg-1"></div>
            <div class="w3-col l10 m10 s12"
                 style="margin-left: auto;margin-right: auto;position: center">
              <form class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
                <h2 class="w3-center">Komentujte:</h2>

                <div class="w3-row w3-section">
                  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i>
                  </div>
                  <div class="w3-rest">
                    <input class="w3-input w3-border" name="first" type="text"
                           placeholder="Meno" required
                           [(ngModel)]="this.koment.meno">
                  </div>
                </div>

                <div class="w3-row w3-section">
                  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i>
                  </div>
                  <div class="w3-rest">
                    <input class="w3-input w3-border" name="message" type="text"
                           placeholder="Správa" required
                           [(ngModel)]="this.koment.obsah">
                  </div>
                </div>

                <button (click)="saveKoment()"
                        class="w3-button w3-block w3-section w3-black w3-ripple w3-padding">Uložiť
                </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>