.x {
    position: absolute;
    width: 20px;
    top: 496px;
}

.header-nightsky {
    color: white;
    background: url("../../assets/uvod/podpisova.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 1%;
}

.meno {
    background-color: black;
    opacity: 0.55;
    padding: 20px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bb {
    background: rgba(0, 0, 0, 0.9);
}

.bgimg-1 {
    background-image: url("../../assets/uvod/knihovna.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../../assets/uvod/behind_books.jpg");
    /*min-height: 400px;*/
}

.bgimg-3 {
    background-image: url("../../assets/uvod/comp.jpg");
    min-height: 400px;
}

.bokies {
    padding-top: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.video {
    width: 560px;
    height: 315px;
}

.video_obal {
    width: 580px;
    height: 335px;
}

.nadpis1 {
    padding-top: 30px
}

.nadpis2 {
    margin-top: -1em
}
.mobile_hero {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat-y;
        background-size: auto;
    }

    .mobile_hero {
        width: fit-content;
        padding-top: 200px;
    }

    .video {
        width: auto;
        height: auto;
    }

    .video_obal {
        width: auto;
        height: auto;
    }

    .header-nightsky {
        color: white;
        background: url("../../assets/uvod/podpisova.jpg") no-repeat;
        background-size: cover;
        background-position: top;
        padding-bottom: 720px;
    }

    .nadpis1 {
        padding: 0px;
        font-size: 1px;

    }

    .nadpis2 {
        margin-top: -1em;
        font-size: 1em;
    }

    .meno {
        padding-bottom: 20px;
        background-color: black;
        opacity: 0.55;
    }

}