<div class="header-nightsky">
    <app-navigation [actual]="page_name"></app-navigation>

    <app-slider></app-slider>



</div>
<div class="w3-content" style="max-width:75%">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="../../assets/bio/1.jpg" class="w3-round w3-image" alt="Table Setting"
                 width="600" height="750">
        </div>

        <div class="w3-col m6 s12">
            <h1 class="w3-center">{{title1}}</h1><br>
            <h5 class="w3-center">BIO</h5>
            <p class="w3-large">{{obsah1}}
        </div>
    </div>

    <hr>
    <div class="w3-row w3-padding-64">
        <div class="w3-col m6 ">
            <h1 class="w3-center">{{obsah_2}}</h1><br>
            <p class="w3-large">{{title2}}

            <ul>
                <li><h5>{{obsah2_1}}
                </h5></li>
                <li><h5>{{obsah2_2}}
                </h5></li>

            <li><h5>{{obsah2_3}}</h5></li>
            <li><h5>{{obsah2_4}}</h5></li>
            <li><h5>{{obsah2_5}}</h5></li>
            <li><h5>{{obsah2_6}}</h5></li>
            <li><h5>{{obsah2_7}}</h5></li>
            </ul>


        </div>
        <div class="w3-col m6 w3-hide-small">
            <img src="../../assets/bio/2.jpg" class="w3-round w3-image" alt="Table Setting"
                 width="600" height="750">
        </div>

    </div>

    <hr>

    <div class="w3-row " id="">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="../../assets/bio/5.jpg" class="w3-round w3-image" alt="Table Setting"
                 width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">Hobby</h1><br>
            <!--<h5 class="w3-center"></h5>-->
            <p class="w3-large">{{hobby}}
                <br>
                <br>
                {{hobby2}}
        </div>
    </div>

    <hr>

</div>


