.header-nightsky {
    color: black;
    background-size: cover;
    background-position: top;
    padding-bottom: 2%;
    background-color: black;
    background: url("../../assets/knihy/knihovna.png") ;
    background-repeat: no-repeat;
}

.meno {
    background-color: black;
    opacity: 0.5;
    padding: 20px;
}