.header-nightsky {
    color: white;
    background: url("../../assets/aktuality/back.jpg") no-repeat;
    background-size: cover;
    /*background-position: top;*/
    padding-bottom: 60px;
}

.bb {
    background: rgba(0, 0, 0, 0.5);
}

.bb2 {
    background: rgba(0, 0, 0, 0.5);
}

.clicker:hover {
    box-shadow: 5px 6px 8px 0.1px #888888;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
}
/*.fix_button {*/
    /*position: absolute;*/
    /*left: 90%;*/
    /*z-index: 99 !important;*/
/*}*/